*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#button{
    margin: 100px;

    padding: 20px 10px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */

    font-weight: 400;
    font-size: 20px;
    background-color: rgb(116, 114, 112);

    border: 5px solid black;
    border-radius: 15px;
    /* border: none; */
}

#box{
    height: 200px;
    width: 200px;
    background-color: salmon;
    /* margin-left: 100px;
    margin-top: 100px; */

    margin: 80px;
    color: #b40d47;

    padding: 20px;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1672011012713-de07fc9ee8fc?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1032);
    
    /* background-size: contain;
    background-repeat: no-repeat; */
    
    background-size: cover;
    background-position: center;
}

/* #outer{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
}

#inner{
    height: 50%;
    width: 50%;
    background-color: lightgreen;
} */

#boxes{
    height: 200px;
    width: 200px;

    /* background: linear-gradient(to right, orange,white,blue); */ 

    /* background: linear-gradient(to right bottom, orange,white,blue); */
    
    /* background: radial-gradient(yellow,red,black); */
    
    background: conic-gradient(violet,indigo,blue,green,yellow,orange,red,violet);
}