*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#parent{
    height: 300px;
    width: 100%;
    background-color: #b4e859eb;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}

#parent::-webkit-scrollbar{
    /* display: none; */
    background-color: rgb(188, 246, 162);
    height: 10px;
}

#parent::-webkit-scrollbar-thumb{
    background-color: rgb(161, 249, 93);
}

.child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}