*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card p{
    text-align: center;
    margin-bottom: 40px;
}

.card p span{
    font-weight: 600px;
    color: royalblue;
}

.card{
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.outer{
    height: 15px;
    width: 100%;
    background-color: rgb(184, 183, 183);
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 60px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
}