*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#parent{
    height: 300px;
    width: 100%;
    background-color: #b4e859eb;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}

#parent::-webkit-scrollbar{
    /* display: none; */
    background-color: rgb(188, 246, 162);
    height: 10px;
}

#parent::-webkit-scrollbar-thumb{
    background-color: rgb(161, 249, 93);
}

.child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* h1{
    font-size: 50px;
    color: transparent;
    /* background: linear-gradient(red,blue); */
    
    /* background-image: url(https://media4.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cW1uMnVtMmFnZ3d0anNnaHpqdzc4djZoZDVqd2RiY2V4NHlwb3A5YyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/10zPMbkirlXtoA/200w.webp);
    background-size: cover;
    text-align: center;
    background-clip: text;
    -webkit-text-stroke: 2px red;
} */

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-rows: 30% 50% 10% 10%;
}

.box{
    background-color: crimson;
    border: 5px solid black;
}

.box:nth-child(2n){
    background-color: lightgreen;
}

.box:nth-child(3n){
    background-color: rgb(26, 164, 182);
} */

/* .box:nth-last-child(2n-1){
    background-color: lightblue;
} */

/* h1{
    background-color: lightgreen;
    display: inline-block;
} */
