*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(30, 91, 70);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
}

.card{
    height: 300px;
    width: 250px;
    margin: 0px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.603);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
    font-weight: 50px;
    font-size: 26px;
}

.card p{
    font-weight: 600;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.card button{
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border: 1.5px solid rgba(0, 0, 0, 0.847);
    background-color: rgb(31, 188, 240);
    cursor: pointer;
}

.card button:hover{
    background-color: rgb(10, 149, 196);
    border: 1.5px solid rgba(0, 0, 0, 0.847);
}

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    /* flex-wrap: nowrap;
    overflow: auto;
} */

/* #child1{
    height: 100px;
    width: 200px;
    background-color: crimson;
    border: 3px solid white;
    flex-shrink: 0;
}

#child2{
    height: 100px;
    width: 200px;
    background-color: rgb(20, 220, 80);
    border: 3px solid white;
    flex-shrink: 0;
}

#child3{
    height: 100px;
    width: 200px;
    background-color: rgb(220, 163, 20);
    border: 3px solid white;
    flex-shrink: 0;
} */ */

/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    /* z-index: 5; */
/* } */

/* #box2{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    position: absolute;
    left: 30%;
    top: 60%;
    z-index: 9;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}*/