*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 180px 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "figure figure";

                         grid-gap: 10px;
                         padding: 10px;

                         text-align: center;
                         font-size: 20px;
}

header{
    background-color: rgb(6, 105, 136);
    grid-area: header;
}

aside{
    background-color: rgb(119, 8, 82);
    grid-area: aside;
}

section{
    background-color: rgb(17, 154, 63);
    grid-area: section;
}

figure{
    background-color: rgb(153, 74, 13);
    grid-area: figure;
}